<div class="jumbotron">
<div class="right center"> <h4>{{ days==='Contest concluido'? days: ( (days!=0? (days+' dias, '): '') +hours+':'+minutes+':'+seconds)}}</h4> </div>
  <div class="center">
    <h4>Posiciones</h4>
    <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Posicion</th>
            <th>Concursante</th>
            <th *ngIf="flag">Nombre</th>
            <th *ngIf="flag">Apellido</th>
            <th>Resueltos</th>
            <th *ngFor="let problem of problems">
              <a routerLink="/view-problem/{{problem.id}}">
                {{problem.name}}
                </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let position of list; let i = index" [attr.data-index]="i">
            <td>
              {{i+1}}
            </td>
            <td>{{position.username}}</td>
            <td *ngIf="flag"> {{position.firstName}} </td>
            <td *ngIf="flag"> {{position.lastName}} </td>
            <td>{{position.accepteds}}</td>
            <td [ngClass]="{'accepted': getBooleanAC(position.data[problem.name]), 'error': getBooleanWA(position.data[problem.name])}"  *ngFor="let problem of problems">
              {{position.data[problem.name]?position.data[problem.name].cout:0}}/{{position.data[problem.name]?position.data[problem.name].date:0}}  
            </td>
          </tr>
        </tbody>
    </table> 
    <div class="custom-control custom-checkbox" *ngIf="hasAuthority('ROLE_ADMIN') || hasAuthority('ROLE_TEACHER')">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="flag" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Vista completa de la tabla</label>
    </div>
    <button type="button" (click)="getCsvOfContest()"  class="btn btn-primary" *ngIf="hasAuthority('ROLE_ADMIN') || hasAuthority('ROLE_TEACHER')">Descargar CSV</button>
  </div>

    

</div>