
<div class="blur">
  <div class="container mt-2">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-7">
        <div class="card shadow-edit mb-3 height-page display-correction-two">
          <div class="card-body pb-5 pt-1">
            <table class="table table-striped table-responsive">
              <div class="login-clean">
                <form method="post">
                  <h2 class="sr-only">Login Form</h2>
                  <div class="illustration">
                  </div>
              
                  <div class="form-group input-group mb-3">
                    <input class="form-control" type="password" placeholder="password" [(ngModel)]="resetAccount.password" name="password">
                    <div class="input-group-append">
                      <button class="btn btn-password" type="button">
                        <i class="mdi mdi-eye"></i>
                      </button>
                    </div>
                  </div>
                  <div class="form-group input-group mb-3">
                    <input class="form-control" type="password" placeholder="Confirmation Password" [(ngModel)]="confirmPassword" name="Confirmation password">
                    <div class="input-group-append">
                      <button class="btn btn-password" type="button">
                        <i class="mdi mdi-eye"></i>
                      </button>
                    </div>
                  </div>
                  <label for="styled-checkbox-1"></label>
                  <hr>
                  <div class="m-incorrect" *ngIf="success">
                    <i class="mdi mdi-close"></i> {{success}}</div>
                  <div class="form-group">
                    <div class="m-incorrect" *ngIf="error">
                      <i class="mdi mdi-close"></i> {{error}}</div>
                  </div>
                    <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" (click)="finishReset()">save</button>
                  </div>
                  <a href="#" class="forgot"></a>
                </form>
              </div>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>