<!-- <p>
  reset-password works!
</p> -->

<div class="login-clean">
  <form method="post">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration">
    </div>

    <div class="form-group input-group mb-3">
      <input class="form-control" type="password" placeholder="password">
      <div class="input-group-append">
        <button class="btn btn-password" type="button">
          <i class="mdi mdi-eye"></i>
        </button>
      </div>
    </div>
    <div class="form-group input-group mb-3">
      <input class="form-control" type="password" placeholder="Confirmation Password">
      <div class="input-group-append">
        <button class="btn btn-password" type="button">
          <i class="mdi mdi-eye"></i>
        </button>
      </div>
    </div>
    <label for="styled-checkbox-1"></label>
    <hr>
    <!-- <div class="m-incorrect" *ngIf="error">
      <i class="mdi mdi-close"></i> {{error}}</div> -->
    <div class="form-group"> 
      <button class="btn btn-primary btn-block" type="submit">save</button>
    </div>
    <a href="#" class="forgot"></a>
  </form>
</div>