<div class="jumbotron col-md-3 center">
  <form method="post" login="ngForm" (ngSubmit)="login()">
    <h4>Ingrese a la página</h4>
    <label class="control-label" for="focusedInput" >Usuario</label>
    <input class="form-control" name="username" type="text" [(ngModel)]="user.username" placeholder="Usuario">
    <label class="control-label" for="focusedInput" >Contraseña</label>
    <input class="form-control" name="password" [(ngModel)]="user.password" type="password" placeholder="Password" >
    <div class="m-incorrect" *ngIf="showErrorMessage"><i class="mdi mdi-close"></i> {{showErrorMessage}}</div>
    <div class = "padding-top">
     <a href="list-contest"><button type="submit" class="btn btn-outline-success btn-block">Ingresar</button></a>
     <a href="sign-up" class="btn btn-link right">Registrar</a>
    </div>
  </form>
</div>
