<div class="jumbotron create-problem ">
  <div class="form-group">
    <h4>Crear problema</h4>
    <label class="control-label" for="focusedInput">Nombre del problema</label>
    <div class="inline">
      <input class="form-control" type="text" >
    </div>
    <label class="control-label" for="focusedInput">Código solución</label>
    <div class="inline">
      <input class="form-control side-part" id="disabledInput" type="text" placeholder="Código   .cpp   .java" disabled=""> 
      <span class="btn btn-default btn-right"> Añadir</span>
    </div>
      
    <label class="control-label" for="focusedInput">Datos de entrada</label>
    <div class="inline">
        <input class="form-control side-part" id="disabledInput" type="text" placeholder="Archivos de entrada   .txt   .in" disabled=""> 
        <span class="btn btn-default btn-right"> Añadir</span>
    </div>
    <label class="control-label" for="focusedInput">Definición del problema</label>
    <div class="inline">
        <input class="form-control side-part" id="disabledInput" type="text" placeholder="Nombre de archivo   .pdf" disabled=""> 
        <span class="btn btn-default btn-right"> Añadir</span>
    </div>
    <div class="inline">
        <span style="padding: 0px 10px 0px 0px "> Tiempo:</span>
        <input class="form-control small-input" type="number" min="0" max="10" value="1">
        <span style="padding: 0px 10px 0px 10px "> s </span>
        <span style="padding: 0px 10px 0px 20px "> Dificultad:</span>
        <input class="form-control small-input" type="number" min="1" max="5" value="1">
        <span style="padding: 0px 10px 0px 10px "> s </span> 
    </div>
    <div class = "padding-top">
      <a href="#" class="btn btn-default btn-block">Crear</a>
      <a href="#" class="btn btn-link right">ya tienes cuenta - ingresa</a>
     </div>
    </div>
</div>