<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12">
        <h4>Concursos futuros</h4>
        <label class="title-l"></label>
        <table class="table table-striped table-hover table-responsive ">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Creador</th>
                <th>Inicio</th>
                <th>Final</th>
                <th>Tipo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comming of commingContests">
                <td>
                 <a routerLink="/view-contest/{{comming.id}}"> {{comming.name}}</a>
                </td>
                <td>{{comming.creatorId}}</td>
                <td>{{comming.startdate |  date: 'dd/MM/yyyy HH:mm'}} </td>
                <td>{{comming.enddate |  date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{comming.type}}</td>
                <td>
                  <button type="button" class="btn btn-link" (click)="open(registry,comming.id)">Registrese</button>
                </td>
              </tr>
             
            </tbody>
          </table>


      <br>
      <h4>Concursos pasados</h4>
      <label class="title-l"></label>
      <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Autor</th>
              <th>Inicio</th>
              <th>Final</th>
              <th>  -  </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let past of pastContests">
              <td>
                  <a routerLink="/view-contest/{{past.id}}"> {{past.name}}</a>
              </td>
              <td>{{past.creatorId}}</td>
              <td>{{past.startdate |  date: 'dd/MM/yyyy HH:mm'}}</td>
              <td>{{past.enddate |  date: 'dd/MM/yyyy HH:mm'}}</td>
              <td> Posiciones </td>
            </tr>
            
          </tbody>
        </table>
          </div>
    </div>
  </div>
</div>
<ng-template #registry let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Registrese al contest</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{login}}, confirmas la registracion? &hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Close click');confirm()">Confirmar</button>
      <button type="button" class="btn btn-warning" (click)="c('Close click')">Cancelar</button>
    </div>
  </ng-template>
