<div class="jumbotron">
      <div class="center">
        <h4>Estatus</h4>
        <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Nombre de problema</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Veredicto</th>
                <th>Lenguaje</th>
                <!-- <th>Tiempo</th> -->
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let ll of list" >
                
                <td>
                    <a routerLink="/view-problem/{{ll.problem.id}}">
                      {{ll.problem.name}}
                    </a>  
                </td>
                <td>{{ll.submitter.login}}</td>
                <td>{{ll.dateupload |  date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{ll.status}}</td>
                <td>{{ll.language == 'C' ? 'C++':'JAVA'}}</td>
                <td *ngIf="hasAuthority('ROLE_ADMIN') || hasAuthority('ROLE_TEACHER')"><button type="button" class="btn btn-link" (click)="download(ll)">Codigo</button></td>
              </tr>
            
            </tbody>
          </table> 
      </div>
        
</div>