<div class="jumbotron">
      <div class="center">
        <h4>Estatus</h4>
        <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Nombre de problema</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Veredicto</th>
                <th>Lenguaje</th>
                <th>Tiempo</th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let ll of list" >
                <td>{{ll.problem.name}}</td>
                <td>{{ll.submitter.login}}</td>
                <td>{{ll.dateupload}}</td>
                <td>{{ll.status}}</td>
                <td>{{ll.language == 'C' ? 'C++':'JAVA'}}</td>
                <td>Column content</td>
              </tr>
            
            </tbody>
          </table> 
      </div>
        
</div>