<div class="jumbotron">
      <div class="center">
        <h4>Crear problema</h4>
        <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Nombre de problema</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Veredicto</th>
                <th>Tiempo</th>
              </tr>
            </thead>
            <tbody>
              <tr class="success">
                <td>4</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr >
                <td>5</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr >
                <td>6</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
            </tbody>
          </table> 
      </div>
        
</div>