<div class="jumbotron">
  <div class="center">
    <table>
    <tbody>
      <tr>
        <td class="col-lg-8">
          <h4>Tus problemas creados</h4>
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Nombre de problema</th>
                <th>Dificultad</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>
                  Nombre
                </td>
                <td>5</td>
              </tr>
              <tr >
                <td>Nuevos ratas </td>
                <td>6</td>
              </tr>
              <tr >
                <td>Chocolate caliente </td>
                <td>3</td>
              </tr>
            </tbody>
          </table> 
          
      </td>
      <td align="center">
          <button type="button"  class="btn btn-primary btn-lg" (click)="open(create)">Crear Problema</button>
      </td>
      </tr>
    </tbody>
  </table>    
  </div>
</div>

<ng-template #create let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Nuevo problema</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Quiere crear un problema nuevo? &hellip;</p>
    </div>
    <div class="modal-footer" align="center">
        <a [routerLink]="['/create-problem']"><button type="button" class="btn btn-primary" (click)="c('Close click');">Confirmar</button></a>
      <button type="button" class="btn btn-warning" (click)="c('Close click')">Cancelar</button>
    </div>
  </ng-template>