<div class="jumbotron">
    <div class="center">
      <div class="view-problem">
        <div class="header">
            <div class="title">
              <h2>{{problem.name}}</h2>
            </div>
            <h6>time limit per test: {{problem.timelimit}}s </h6>
            <h6>input: standard input</h6>
            <h6>output: standard output</h6>
        </div>
        <hr>
        <div class="body ">
          <div *ngIf="pdfSrc">
            <iframe [src]="pdfSrc" frameborder="0" width="100%" height="550" marginheight="0" marginwidth="0" id="pdf" ></iframe>
          </div>
           <br><br>
           <h4>Sample</h4>
           <table class="content  test-cases" >
             <thead>
               <tr>
                 <th> Input </th>
                 <th> Output </th>
               </tr> 
               <tr class=" v-align-top" *ngFor="let test of tests" >
                 <td>{{test.input}}</td>
                 <td>{{test.output}}</td>
               </tr>
               
                  
             </thead>
           </table>
           <br><br>
           <!-- <div class="text">
             Aclaration for test case 1
           </div> -->
      </div>

      <br>
      <div>
        <a href="upload/{{problem.id}}"><button type="button" class="btn btn-primary" [disabled]="!hasAuthority('ROLE_USER')">Enviar</button></a>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
  </div>  
</div>