<div class="jumbotron">
    <div class="center">
      <h4>Lista de problema</h4>
      <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Nombre de problema</th>
              <th>Cantidad Resueltos</th>
              <th>Dificultad</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>4</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr >
              <td>5</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr >
              <td>6</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
          </tbody>
        </table> 
    </div>
      
</div>