<div class="jumbotron login">
  <div class="form-group">
    <h4>Registrar</h4>
    <label class="control-label" for="focusedInput">Nick</label>
    <input class="form-control" type="text" >
    <label class="control-label" for="focusedInput">Nombre</label>
    <input class="form-control" type="text" >
    <label class="control-label" for="focusedInput">Apellido</label>
    <input class="form-control" type="text" >
    <label class="control-label" for="focusedInput">Correo</label>
    <input class="form-control" type="text" >
    <label class="control-label" for="focusedInput">Contraseña</label>
    <input class="form-control" type="password" >
    <div class = "padding-top">
      <a href="#" class="btn btn-default btn-block">Registrar</a>
      <a href="#" class="btn btn-link right">ya tienes cuenta - ingresa</a>
     </div>
  </div>
</div>