<div class="form-group">
  <h4>Crear contest</h4>
  <label class="control-label" for="focusedInput">Nombre del contest</label>
  <div class="inline">
    <input class="form-control" type="text" >
  </div>
  <label class="control-label" for="focusedInput">Fecha de inicio</label>
  <div class="inline"> 
    <input type="date" class="form-control"  name="favcolor">
  </div>
  <label class="control-label" for="focusedInput">Hora de inicio</label>
  <div class="inline"> 
    <input class="form-control" type="time">
  </div>
  <label class="control-label" for="focusedInput">Fecha de cierre</label>
  <div class="inline"> 
    <input type="date" class="form-control"  name="favcolor">
  </div>
  <label class="control-label" for="focusedInput">Hora de cierre</label>
  <div class="inline"> 
    <input class="form-control" type="time">
  </div>
  <div class="form-group">
    <label for="select" class="col-lg-2 control-label">Tipo </label>
    <div class="col-lg-10">
      <select class="form-control" id="select">
        <option>Publico</option>
        <option>Privado</option>
      </select>
    </div>
</div>
  <div class = "padding-top">
    <a href="#" class="btn btn-primary btn-lg btn-block">Crear</a>
    <a href="#" class="btn btn-link right">ya tienes cuenta - ingresa</a>
   </div>
  </div>