/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mdi/css/materialdesignicons.min.css";
html, body{
  height: 100%;
}
body{
  font-family: 'Poppins', sans-serif !important;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.login {
    padding-top: 10% !important;
}
.example-full-width {
width: 100%;
}
.login {
    width: 30%;
    margin: auto;
    height: 20%;
}
.create-problem {
    width: 75%;
    margin: auto;
    background: contain;
}
.add-problem {
    /* width: 60%;
    height: 700px; */
    margin: auto;
    padding-top: 20px;

}
.status {
    width: 75%;
    margin: auto;
}
.center {
    margin: auto;
    /* width: 80%; */
    padding: 10px;
}
.form-group {
    padding: 10px 40px 50px 40px;
}
.stop-padding-bottom {
    padding-bottom: 0px !important;
}
.padding-top {
    padding: 35px 0px 0px 0px;
}
.top-cero {
    padding-top: 0px !important;
}
.jumbotron {
    margin-bottom: 0px !important;
    background-color: #f3f3f3 !important;
    height: 100%;
}
.right {
    float: right;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3333338c !important;
}

.inline {
    display: flex;
    padding: 0px 0px 15px 0px;
}
.btn-right {
    padding: 0px 10px 0px 30px;
    margin-left: 1%;
}
.noline {
    display: block;
    margin-right: 1%;
}
.small-input {
    height: 25px !important;
    width: 70px !important;
    padding: 0px 5px 0px 5px !important;
}
.disable {
    cursor: not-allowed !important;
    background-color: #2928280c !important;
}
.regular {
    font-size: large;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }


.view-problem {

}
.view-problem .title{
    font-weight: 700;
    color: #302d2d;
}
.view-problem .subtitle{
    font-weight: 700;
    color: #3f3b3b;
}
.view-problem .text{
    font-weight: 400;
    color: #3a3636;
    text-align: justify;
    text-justify: inter-word;
}
.content {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 50px;
}
.content .td { padding: 0px 5px; }
.content .th { padding: 0px 5px; }


.inline-div {
    display:inline-block;
    width: 48%;
    resize: none;
}

.test-cases {
    white-space: pre-line;
}
.test-cases .tr {
    padding-top:78px;
    padding-bottom:20px;
    padding-right:20px;
  }
.v-align-top {
    vertical-align: top !important;
}
/* NAVBAR */
.navbar{
  height: 58px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
}
.bg-light {
  background-color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #33529e !important;
  border-bottom: 2px solid #33529e;
}
.navbar-light .navbar-nav .nav-link {
  height: 58px;
  padding-top: 20px;
  margin-right: 20px !important;
  font-size: 14px;
}
/* GENERAL */
.table td, .table th {
   border-top: 1px solid #f0f0f0 !important;
}
.title-l{
  width: 120px;
  height: 4px;
  margin-bottom: 0px;
  background: #33529e;
}
h4{
  margin-bottom: 0px !important;
}




/* RESPONSIVE */
@media (min-width: 576px) {
  .jumbotron{
    height: auto !important;
  }
}


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }

.display-correction {
    /* right: 167px;
    width: 918px; */
    right: 198px;
    width: 1050px;
}

.select-one{
    display: none;
}

.select-active {
    display: block;
}

.btn_input {
    background-color: white;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: calc(2.25rem + 2px);
    text-align: right;
    font-size: 12px;
}
.show-select {
    background: white;
    border-radius: 0.25rem;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    position: absolute;
    z-index: 100;
    width: 100%;
}
.show-select ul {
    list-style: none;
}

.pos_relative {
    position: relative;
}
.ul_padding {
    padding-left: 10px;
    padding-top: 15px;
}
.left-response {
    left: 130px;
}

.display-correction-two{
    left: 340px;
    width: 500px;
    top: 100px;
}

.accepted {
    
    background-color:  rgba(72, 255, 0, 0.322); 
}

.error {
    background-color:  rgba(255, 8, 0, 0.384);
}

.reduce {
    width: 74% !important;
    display: inline-block !important;
}
.top-cell {
    padding-top: 89px;
    vertical-align: top;
}